[package]
name = "heavykeeper"
version = "0.2.5"
edition = "2021"
authors = [ "Patrick McGleenon"]
description = "A library for finding the top-k elements of a stream of data."
categories = ["data-structures", "algorithms"]
exclude = [".github", "/data/*" ]
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/pmcgleenon/heavykeeper-rs"
rust-version = "1.78.0"
keywords = ["heavykeeper", "top-k", "streaming", "sketch", "data-structure"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "heavykeeper"
path = "src/lib.rs"


[dependencies]
rand = { version = "0.9.0", features = [ "small_rng" ] }
ahash = "0.8.11"
clap = { version = "4.5.19", features = ["derive"] }
priority-queue = "2.1.1"
#gxhash = "3.4.1"
memchr = "2.7.4"
memmap2 = "0.9.5"

[profile.release]
#debug = true

[dev-dependencies]
rand_distr = "0.5.0"
criterion = "0.5.1"
zipf = "7.0.1"

[[bench]]
name = "topk_add"
harness = false
